body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

h1 {
  font-size: 60px;
  font-family: Raleway;
  color: #456631;
  margin-right: 2rem;
  margin-left: 2rem;
}

p {
  font-size: 20px;
  font-family: Open Sans;
  color: grey;
  margin-top: 0;
 margin-bottom: 1rem;
 margin-left: 4rem;
 margin-rght: 4rem;
}

h2 {
  font-size: 50px;
  font-family: Raleway;
  color: #456631;
  margin-right: 4rem;
  margin-left: 4rem;
}


.center {
  text-align: center;
}

/*BOOSTRAP CAROUSEL*/


/*BOOTSTRAP JUMBOTRON*/
.jumbotron {
  background-image: url(images\brick.jpeg);
  background-size: cover;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
/* END Featurettes
------------------------- */

/*.textboxL {
  width: 600px;
  height: auto;
  padding-left: 30px;
  margin: 0;
}

.textboxR {
  width: 600px;
  height: auto;
  padding-left: 30px;
  margin: 0;
}*/

.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  text-decoration-color: #333532;
  font-family: Helvetica;
  font-size: 16px;
  padding: 60px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */


element.style {
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/* KATIE JUMBOTRON
#jumbotron {
  position:  relative;
  padding-bottom: 56.75%;
  padding-top: -10;
  overflow: hidden;
  z-index: -10000;
}



.headline {
    position: absolute;
    text-align: center;
    font-family: Raleway;:
    text-color: white;
    top: 45%;
    width: 100%;
    z-index: 1000;
}

.textPadding {
  padding: 20px;
}

.photoOpacity {
  opacity: 0.75;
}
*/
